<h1>AboutUs</h1>
<p> Hello, We are a group of programmers who love oil. Not the sticky stuff that we pump out of
  the sand in the Middle East and put in our cars to pollute the air, nor the fatty glue that we deep fry
  our snickers, fries and steaks. No, we are talking about natural oils. You will be surprised about
  how versatile the oil business is. 
</p>




<button type="button" class="btn btn-default navbar-btn"><%= link_to 'Back', root_path %>
  </button>
