<nav>
  <img src="http://i.imgur.com/njIMp7b.jpg?1"></img>
</nav>

<h1>The natural answer to your illness</h1>


<h1>
Illness
</h1>

<div class="col-xs-12 col-md-4">
<p>
<h1>
<a href="http://www.influenza.info/" target="_blank">Influenza</a>
</h1>
</P>

<p>
<h1>
<a href="http://headache-info.co.uk/index.html" target=_"blank">Skin problem</a>
</h1>
</p>

<p>
<h1>
<a href="http://www.problem-skin.com" target=_"blank">Skin problem</a>
</h1>
</p>
</div>

<button>SHOP NOW</button>

</body>
</html>
