<!DOCTYPE html>
<html>

<head>
<title>Index</title>
</head>

<body>
<h1>The natural answer to your illness</h1>
<<<<<<< HEAD

<h1>
List of essential oils:
</h1>

<div class="col-xs-12 col-md-4">
<p>
<h1>
<a href="http://www.herbs-info.com/essential-oils/tea-tree-essential-oil.html" target="_blank">Tea tree oil</a>
</h1>
</p>

<p>
<h1>
<a href="http://www.herbs-info.com/essential-oils/lavender-essential-oil.html" target=_"blank">Lavender oil</a>
</h1>
</p>

<p>
<h1>
<a href="http://www.herbs-info.com/essential-oils/peppermint-essential-oil.html" target=_"blank">Peppermint oil</a>
</h1>
</p>

</div>


<button>SHOP NOW</button>




<button type="button" class="btn btn-default navbar-btn">About Us</button>

  <button type="button" class="btn btn-default navbar-btn"><%= link_to 'Contact', controller: 'contact' %>
    </button>
</nav>

</body>
<br>
=======
>>>>>>> 731c911f16866f312aa5ddc541057e7a40d76a43

<div class="page_body">
  <div class="container">
    <div class="jumbotron">


      <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive,
        mobile-first projects on the web.</p>
    </div>
    <p>This is some text.</p>
    <p>This is another text.</p>
  </div>


  <h1>
  Illness
  </h1>

  <div class="col-xs-12 col-md-4">

    <p>
      <h1>
        <a href="http://www.herbs-info.com/essential-oils/tea-tree-essential-oil.html" target="_blank">
     <button>Tea tree oil</button>

 </div>
        </a>
      </h1>
    </p>

    <p>
      <h1>
        <a href="http://www.herbs-info.com/essential-oils/lavender-essential-oil.html" target=_"blank">
          <button>Lavender oil</button>
        </a>
      </h1>
    </p>

    <p>
      <h1>
        <a href="http://www.herbs-info.com/essential-oils/peppermint-essential-oil.html" target=_"blank">
          <button>Peppermint oil</button>
        </a>
      </h1>
    </p>
  </div>

  <button class="btn btn-block btn-info"><i class="fa fa-thumbs-up"></i>SHOP NOW</i></button>

  <p>
  <h1>
  <a href="illness.html.erb">Illness</a>
  </h1>
  </P>

  <p>
  <h1>
    <a href="oils.html.erb">oils</a>
  </h1>
  </p>

  </div>
    </div>
      </div>

</div>
<<<<<<< HEAD

</body>

<button type="button" class="btn btn-default navbar-btn"><%= link_to 'contact', controller: contact %>
  </button>
</body>
=======


<button type="button" class="btn btn-default navbar-btn"><%= link_to 'about_us', controller: 'about_us' %> </button>



<button type="button" class="btn btn-default navbar-btn">

  <%= link_to 'Contact', controller: 'contact' %> </button>


</body>
>>>>>>> 731c911f16866f312aa5ddc541057e7a40d76a43
