<!DOCTYPE html>
<html>

<head>
<title>Index</title>
</head>

<body>
<h1>The natural answer to your illness</h1>

<div class="page_body">
  <div class="container">
    <div class="jumbotron">





  <div class="col-xs-12 col-md-4">

    <p>
      <h1>
        <a href="http://www.herbs-info.com/essential-oils/tea-tree-essential-oil.html" target="_blank">
     <button>Tea tree oil</button>

 </div>
        </a>
      </h1>
    </p>

    <p>
      <h1>
        <a href="http://www.herbs-info.com/essential-oils/lavender-essential-oil.html" target=_"blank">
          <button>Lavender oil</button>
        </a>
      </h1>
    </p>

    <p>
      <h1>
        <a href="http://www.herbs-info.com/essential-oils/peppermint-essential-oil.html" target=_"blank">
          <button>Peppermint oil</button>
        </a>
      </h1>
    </p>
  </div>

  <button class="btn btn-block btn-info"><i class="fa fa-thumbs-up"></i>SHOP NOW</i></button>

  <p>
  <h1>
  <%= link_to 'illnesses', controller: 'illnesses' %>
  </h1>
  </P>

  <p>
  <h1>
    <%= link_to 'oils', controller: 'oils' %>
  
  </h1>
  </p>

  </div>
    </div>
      </div>

</div>

<button type="button" class="btn btn-default navbar-btn"><%= link_to 'about_us', controller: 'about_us' %> </button>
<button type="button" class="btn btn-default navbar-btn"><%= link_to 'Contact', controller: 'contact' %> </button>


</body>
