<!DOCTYPE html>
<html>

<head>
<title>Index</title>
</head>

<body>
<h1>The natural answer to your illness</h1>
<<<<<<< HEAD


<h1>
List of essential oils:
</h1>

<div class="col-xs-12 col-md-4">
<p>
<h1>
<a href="http://www.herbs-info.com/essential-oils/tea-tree-essential-oil.html" target="_blank">Tea tree oil</a>
</h1>
</p>

<p>
<h1>
<a href="http://www.herbs-info.com/essential-oils/lavender-essential-oil.html" target=_"blank">Lavender oil</a>
</h1>
</p>

<p>
<h1>
<a href="http://www.herbs-info.com/essential-oils/peppermint-essential-oil.html" target=_"blank">Peppermint oil</a>
</h1>
</p>

</div>


<button>SHOP NOW</button>




<button type="button" class="btn btn-default navbar-btn">About Us</button>

  <button type="button" class="btn btn-default navbar-btn"><%= link_to 'Contact', controller: 'contact' %>
    </button>
</nav>

</body>
=======
<br>

<div class="page_body">
  <div class="container">
    <div class="jumbotron">

  <h1>
  Illness
  </h1>

  <div class="col-xs-12 col-md-4">
  <p>
  <h1>
  <a href="illness.html.erb">Illness</a>
  </h1>
  </P>

  <p>
  <h1>
    <a href="oils.html.erb">oils</a>
  </h1>
  </p>

  </div>
    </div>
      </div>
</div>
<<<<<<< HEAD

</body>
=======
<button type="button" class="btn btn-default navbar-btn"><%= link_to 'contact', controller: contact %>
  </button>
</body>
>>>>>>> 89908ebf9436c56cb325bead595e55b406460718
>>>>>>> 7e9285fb9121ae676d0d1c333be58134e2fcd6d4
