<!DOCTYPE html>
<html>
<title> List of essential oils </title>

<style>
h1{
  color: green;
}
</style>

<h1>
Illness
</h1>

<div class="col-xs-12 col-md-4">
<p>
<h1>
<a href="https://en.wikipedia.org/wiki/Influenza" target="_blank">Influenza</a>
</h1>
</P>

<p>
<h1>
<a href="https://en.wikipedia.org/wiki/Skin_infection" target=_"blank">Skin problem</a>
</h1>
</p>

<p>
<h1>
<a href="https://en.wikipedia.org/wiki/Headache" target=_"blank">Skin problem</a>
</h1>
</p>
</div>


</body>
</html>
