<!DOCTYPE html>
<html>
  <title>
    List of essential oils
  </title>

  <style>
    h1 {
      color: green;
    }

  </style>

  <div class="page_body">
    <div class="container">
      <div class="jumbotron">

  <h1>
    List of essential oils:
  </h1>
</div>
</div>
</div>

  <h1>The natural answer to your illness</h1>
  <br>

    <div class="col-xs-12 col-md-4">
      <p>
        <h1>
          <a href="http://www.herbs-info.com/essential-oils/tea-tree-essential-oil.html" target="_blank">
            <button>Tea tree oil</button>
          </a>
        </h1>
      </p>

      <p>
        <h1>
          <a href="http://www.herbs-info.com/essential-oils/lavender-essential-oil.html" target=_"blank">
            <button>Lavender oil</button>
          </a>
        </h1>
      </p>

      <p>
        <h1>
          <a href="http://www.herbs-info.com/essential-oils/peppermint-essential-oil.html" target=_"blank">
            <button>Peppermint oil</button>
          </a>
        </h1>
      </p>
    </div>

    <button>SHOP NOW</button>
  </div>

</html>
