<!DOCTYPE html>
<html>
  <title>
    List of essential oils
  </title>

  <style>
    h1 {
      color: green;
    }

  </style>

  <div class="page_body">
    <div class="container">
      <div class="jumbotron">

  <h1>
  HOME
  </h1>
</div>
</div>
</div>

  <h1>Find your oil</h1>
  <br>

    <div class="col-xs-12 col-md-4">

      <p>
        <h1>
          <a href="illness.html.erb">The Link</a>
            <button>Find your oil</button>
          </a>
        </h1>
      </p>

      <p>
        <h1>

            <button>Find your oil</button>
          </a>
        </h1>
      </p>
    </div>


  </div>

</html>
