<!DOCTYPE html>
<html>
  <head>
    <title>Herbalremedy</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <img class="img-responsive" src="http://i.imgur.com/njIMp7b.jpg?1"></img>

    <%= yield %>

  </body>
</html>
